<div class="input-group">
  <span class="input-group-addon" id="basic-addon1"><label for="search-box">City</label></span>
  <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)"
         placeholder="Filter"/>
</div>

<div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th><h2>ID </h2></th>
      <th><h2>Location </h2></th>
      <th><h2>Address </h2></th>
    </tr>
    </thead>
    <tbody>
    <template let-wifi ngFor [ngForOf]="wifis | async">
      <tr>
        <td>{{wifi.id}}</td>
        <td>{{wifi.location.name}}</td>
        <td>
          <a href="http://www.google.com/maps/place/{{wifi.coordinates.lat}},{{wifi.coordinates.lng}}" target="_blank">
            {{wifi.location.code}} {{wifi.location.city}},
            {{wifi.location.street}} {{wifi.location.nr}}
          </a>
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</div>
